
<style>
div.relative {
  position: absolute;
  top: 554px;
  width: 440px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 1.5em;
} 
.cargo{
    position: absolute;
  top: 600px;
  width: 440px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
img{
    position: absolute;
}
#foto{
    top: 250px;
    left: 120px;
}

</style>
<% datos.forEach(function(dato) { %>
        <img src="/img/credential.jpg" alt="">
        <img id="foto" width="240" src="/uploads/<%= dato.imagen%>" alt="">
        <div class="relative"><%= dato.nombre%></div>
        <div class="cargo"><%= dato.cargo%></div>
<%});%>
